alias course="cd {{course_folder}}"
alias prep="course && cd prep"
alias app="course && cd app"
alias setup="course && cd setup"
alias ..='cd ..'

#function that will both create and switch to the directory specified
function take()
{
   mkdir $1
   cd $1
}
